<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>


  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="planta">001</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Bulbassaur</h2>
          <ion-badge color="planta">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="fogo">004</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="fogo">Fire</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="agua">007</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="agua">Water</ion-badge>
        </div>
      </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
        </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="flying">017</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Pidgeotto</h2>
          <ion-badge color= "normal">Normal</ion-badge>
          <ion-badge color="flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/017.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="ghost">019</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Rattata</h2>
          <ion-badge color= "normal">Normal</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/019.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="electric">025</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color= "warning">Electric</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="rock">038</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Ninetales</h2>
          <ion-badge color= "fogo">Fire</ion-badge>
           </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/038.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="fogo">077</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Ponyta</h2>
          <ion-badge color= "fogo">Fire</ion-badge>
           </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/077.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="rock">097</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Hypno</h2>
          <ion-badge color= "psychic">Psychic</ion-badge>
           </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/097.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="secondary">137</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>Porygon</h2>
          <ion-badge color="normal">Normal</ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/137.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
    <ion-item-option color="warning">Alterar</ion-item-option>
    <ion-item-option color="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>